@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');
/* @import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css'); */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

.main_cover { 
    font-family: 'Federo', sans-serif;
}
.main_cover .cover_banner {
    /* background: url("images/cover_bg.jpg"); */
    /* background: #8be3aa; */
    background-image: linear-gradient(to top, #86cb9e, rgb(206 255 223 / 28%)); 
    height: 480px;
    display: block;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 20px 0;
}

.main_cover .cover_banner img {
    width: 25%;
    height: auto;
    margin-top: 4%;
}

.category_section {
    position: relative;
    top: -180px;
}

.ip_card {
    padding: 20px 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 30%);
    transition: transform .5s;
    margin-bottom: 15px;
    min-height: 330px;
}

.ip_card:hover {
    cursor: pointer;
    /* background: #183153;
    color: #fff; */
    transition: transform .5s;
    transform:scale(1.070);
}

.ip_card_body {
    text-align: center; 
    padding: 30px;
}

.ip_card_title {
    margin-bottom: 15px;
    font-family: 'Federo', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.ip_card_text { 
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

.ip_btn_info { 
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    background: #68B984;
    color: #fff;
}

.ip_btn_info:hover {
    background: #05539c;
    color: #fff;
}

.ip_btn_div {
    position: absolute;
    bottom: 10%;
    left: 37%;
}

.about_section {
    position: relative;
    top: -150px;
}

.ip_text {
    font-size: 25px;
    font-weight: 300;
    text-align: justify;
}


.adv_section {
    position: relative;
    top: -130px; 
}

.card-img-flash {
    position: relative;
    overflow: hidden;
}
.card-img-flash::before {
    content: '';
    position: absolute;
    top: 0;
    z-index: 2;
    left: -80%;
    width: 50%;
    height: 100%;
    display: block;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
}
.card-img-flash:hover::before {
    animation: imgflash 1s;
}
@-webkit-keyframes imgflash {
    100% {
      left: 125%;
    }
}
@keyframes imgflash {
    100% {
      left: 125%;
    }
}

.other_section {
    position: relative;
    top: -100px;
}

.footer_bg {
    background: #183153;
    color: #fff;
}

.btn-primary {
    background: #68B984;
    color: #ffffff;
    font-weight: 500;
    margin: auto;
    display: flex;
    padding: 4px 40px;
    font-size: 20px;
    text-align: center;
    border: #68B984;
}

.btn-primary:hover {
    background: #fff;
    color: #68B984;
}

.btn-primary:focus {
    box-shadow: none;
}